<table width='98%' border='0' class'fg2' align='center'>
<tr>
<td align='center'>
<center><br /><img src='<{$xoops_url}>/modules/myguestbook/images/viewguestbook.gif' alt='[:: Narga's Guestbook ::]' border='0' />
<br /><br />
<a href='sign.php'><{$lang_sign}></a><br /><br /></center>
<{$lang_there_is}></td></tr></table>
<br /><hr><br>
<table cellspacing='0' border='0' width='98%'>
  <tr>
    <td width='100%' align='center'><{$pagenav}></td>
  </tr>
</table>
<table cellspacing='0' cellpadding='0' width='100%' border='1' class='even' >
<tr valign='top' bgcolor=AABE8F align='center' style='color: #FFFFFF'>
          <td class='itemHead' width='30%'><b><{$name}>&nbsp;&nbsp;<{$gender}></a></b></td>
          <td class='itemHead' width='70%'>
<table cellspacing='0' cellpadding='0' width='100%' border='0' style='color: #FFFFFF'>
<tr>
<td align='left'><{$title}></td>
</tr></table></td></tr>

<tr>
<td class='spacer' colspan='2'></td>
</tr>
        <tr align='left'>
          <td class='row1' style='word-space: nowrap;'  width='17%' align='center'><b><{$company}></b><br><span style='font-size : 10px;'><{$lang_date}><br /><span style='color: #008000'> <{$date}><br><{$location}></span></td>
	  <td width='100%' class='row2' valign='top'>
<table cellspacing='0' cellpadding='0' width='100%' border='0'>
	      <tr valign='top' >
                <td class='row2' colspan='2'>
<p><br><{$message}></p></td></tr>
<tr valign='bottom'>
<td class='row2'>
<table cellspacing='0' cellpadding='0' width='100%' border='0' class='row2'>
<tr><td><br>
<{if !$note != ""}>
<hr>
<{/if}>
<{$email}>&nbsp;<{$url}>&nbsp;<{$facebook}>&nbsp;<{$twitter}>&nbsp;<{$icq}>&nbsp;<{$yim}>&nbsp;<{$aim}>&nbsp;<{$msn}>&nbsp;
<{$admin_option}>
</td></tr>
</table>
<{if $note != ""}>
<hr><span style='font-size : 10px;'><i><b><{$lang_note}></b>
<{$note}></i></span>
<{/if}>
</td></tr></table></td></tr>
</table><br>
<table cellspacing='0' border='0' width='98%'>
  <tr>
    <td width='100%' align='center'><{$pagenav}></td>
  </tr>
</table>